@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&family=Montserrat:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Quicksand", sans-serif;
  }

  body {
    @apply m-0 bg-gradient-radial from-[#282c34] to-[#282c34];
  }

  svg {
    @apply block h-auto w-full;
  }
}

@layer components {
  .header-background {
    @apply absolute w-full h-[32px] top-0 left-0 z-[-1];
  }

  .not-found,
  .error {
    @apply mt-20 text-center;
  }

  .not-found h1,
  .error h1 {
    @apply text-[5rem] m-0 font-black text-[#262626] uppercase bg-gradient-[90deg] from-[#f9572a] to-[#ffc905] bg-cover bg-center
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Montserrat", sans-serif;
  }

  .not-found p,
  .error p {
    @apply color-[#ddd8d8] text-[1.5rem] font-medium;
  }
}
